<h1>Show Event</h1>

<ul>

  <li>
    <strong> start date:</strong>
    <%= @event. start_date %>
  </li>

  <li>
    <strong> repetition:</strong>
    <%= @event. repetition %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :my_schedule) %></span>
